<form class="pure-form" name="changepass" role="form">
  <fieldset class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="email">Email:</label>
        <input [(ngModel)]="email" class="form-control" id="email" name="email" pattern="email_pattern" required="required"
               type="email"/>

        <small [hidden]="email.length>0" style="color: red"> Email is required. </small>
        <p></p>

        <div *ngIf="!test_email(email)">
          <small style="color: red"> Email is not valid </small>
        </div>
      </div>
    </div>
  </fieldset>


  <fieldset class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="password">Password:</label>
        <input [(ngModel)]="password" class="form-control" id="password" minlength="8" name="password"
               placeholder="password" required="required" type="password"/>
        <small [hidden]="password.length>7" style="color: red"> Password has to be at least 8 symbols </small>
      </div>
    </div>
  </fieldset>

  <button (click)="change_password()" [disabled]="password.length<8 || !test_email(email)" class="btn btn-primary"
          type="submit"> Change Password
  </button>
</form>
