<main>
  <div class="bg-extended">
    <div class="align-vertical-center">
      <div class="container">
        <div class="row">
          <div class="well col-sm-offset-12 col-sm-12">
            <div class="well-heading alert alert-danger alert-dismissible fade show">
              <h1>Error </h1> <!-- Display error code from controller -->
            </div>
            <div class="well-body">
              <h4></h4>  <!-- Display error message from controller -->
              <a class="btn btn-primary btn-lg" href="/" style="float: right;">Go home</a> <!-- Buttton to home -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
