<form class="pure-form" name="resetpass" role="form">
  <fieldset class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label for="email">Email:</label>
        <input [(ngModel)]="email" class="form-control" id="email" name="email" pattern="email_pattern" required="required"
               type="email"/>
        <small [hidden]="email.length>0" style="color: red"> Email is required. </small>
        <p></p>
        <div *ngIf="!test_email(email)">
          <small style="color: red"> Email is not valid </small>
        </div>
      </div>
    </div>
  </fieldset>

  <button (click)="forgotyourpassword()" [disabled]="!test_email(email)" class="btn btn-primary" id="ResetPasword"
          type="submit">Reset Password
  </button>
</form>
