<header>
    <div class="row">
      <div class="page-header">
        <h1>Welcome to ACor system</h1>
      </div>
    </div>
  </header>

  <main>
    <div class="row">
      <div class="bg-extended center-block">
        <div class="align-vertical-center align-horizontal-center">
          <div class="row">
            <div class="col-xs-3 col-sm-6 col-md-12 col-lg-12">
              <div class="well well-lg">
                <div class="well-body">
                    <a [routerLink]="['/check-availability']" class="btn btn-primary btn-lg active" id="checkAvailability" role="button"> Check Availability of Antennas </a>
                    <a [routerLink]="['/login']" class="btn btn-primary btn-lg active" id="login" role="button"> Log In </a>
                    <a [routerLink]="['/registration']" class="btn btn-primary btn-lg active" id="registration" role="button"> Registration </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
